worker_processes 1;

events { worker_connections 1024; }

http {
    server {
        listen 80;

        location /api/v1/users/ {
            proxy_pass http://api-gateway:4000/api/v1/users/;
        }

        location /api/v1/payrolls/ {
            proxy_pass http://api-gateway:4000/api/v1/payrolls/;
        }

        location /api/v1/leaves/ {
            proxy_pass http://api-gateway:4000/api/v1/leaves/;
        }
    }
}
